
.txt-apresentacao {
    margin-top: -7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: .5rem;

}
.txt-apresentacao h1 {
    width: 55%;
    font-size: 1.3rem;
    margin-bottom: .5rem;
    color: #fff;
}

.txt-apresentacao p {
    display: none;

}

.txt-apresentacao button {
    background: #F44336;
    color: #fff;
}

.capa-white {
    width: 100%;
}

.capa-white img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    border-radius: 3px;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    padding-bottom: 5rem;
}

.produto h3 {
    font-size: 1.2rem;
}

.paragrafo-p {
    font-size: 0.75rem;
}

.produto-vantagens {
    flex-wrap: wrap;
}

.frame-8 {
    width: 5rem;
}

.frame-7 {
    width: 11rem;
}

.frame-6 {
    width: 10rem;
}

.produto-card {
    margin-left: .4rem;
}

