@import url(./apresentacao.css);
@import url(./equipe.css);
@import url(./trabelhe-conosco.css);
@import url(./footer.css);

body {
    background: #EEEEEE;
}

main {
    background: #fff;
    margin: 0 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

section {
    padding: 0 1rem;
}

.card {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}