@import url(./apresentacao.css);

body {
    background:  #EEEEEE;
}

main {
    background: #fff;
    margin: 0 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

section {
    padding: 0 1rem;
}
