.trabelhe-conosco {
    padding-bottom: 5rem;
}

.trabalhe-p {
    font-size: 0.75rem;
}

.btn-trabalhe {
    background-color: #9C27B0;
    color: #fff;

    margin-top: 1rem;
}

.input-trabalhe, .text-trabalhe {
    border-bottom: 2px solid #9C27B0;
}

.input-trabalhe {
    margin-right: .5rem;
}

.form-trabalhe {
    margin-top: 2rem;
}